<!doctype html>
<html lang="en">
    <head>
        {% block head %}{% endblock %}
        <meta charset="utf-8" />
            <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
            <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
            <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <meta name="google-signin-client_id" content="298307882600-o45ivedmtgr6vujusliqfotdg1s1v4pi.apps.googleusercontent.com">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body {% block body %}{% endblock %}>
        <br/>
            <div class="container grid-lg">
            <header class="navbar">
                    <section class="navbar-section">
                      <a href="/" class="btn btn-link navbar-brand mr-2"><b style="font-size: 42pt;">🌭</b></a>
                    </section>
                    <section class="navbar-center">
                            <a href="/"><b style="color: #5755d9;">hotdog pins</b></a>
                    </section>
            </header>

            {% block content %}{% endblock %}
                    
            </div>



<div class="footer container grid-lg" id="copyright" style="color: #696b70;">
    <p><a href="/terms" target="_blank">Terms</a> · <a href="/privacy" target="_blank">Privacy Policy</a> · <a href="/refunds" target="_blank">Refunds</a> · <a href="/about" target="_blank">About</a> · &copy; 2019</p>
    <p>made with <span class="text-error">🌭</span> by <a href="https://twitter.com/dps" target="_blank">dps</a>.</p>
  </div>
    </body>
</html>