{% extends "base.html" %}

{% block head %}
{% endblock %}
{% block title %}🌭{% endblock %}
{% block body %}onLoad='load()'{% endblock %}
{% block content %}
<div class="columns">
  <div class="column col-auto col-mx-auto">
          <h2>hotdog pins - they're 🔥, 🐶</h2>
          <p>Wear your favorite hotdog emoticon</p>
  </div>
</div>
<div class="columns">
  <div class="column col-auto col-mx-auto">
        <div id="react"></div>
    <script type="text/javascript" src="/static/js/main.aa2b7750.js"></script>
  </div>
</div>
{% endblock %}