{% extends "base.html" %}
{% block head %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe(
        'pk_test_WvVnbetPzawrYS05rKFvOjNi',
        {
            betas: ['payment_intent_beta_3']
        }
    );
</script>
{% endblock %}

{% block title %}Buy{% endblock %}
{% block body %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column col-3"></div>
    <div class="hero column col-6">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">
                    <h6>Shipping &amp; Billing Info</h6>
                </div>
            </div>
            <form class="form-horizontal" action="/buy" method="post">
            <div class="panel-body">
                    {% for field in cardholder_fields %}
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="cardholder-{{ field[0]}}">{{ field[0] }}</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input class="form-input" type="text" name="{{ field[0] }}" id="cardholder-{{ field[0] }}"
                                placeholder="{{ field[1] }}">
                        </div>
                    </div>
                    {% endfor %}
                
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" id="submit">
                    Next &rarr;
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}